* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
  position: relative;
  min-width: fit-content;
  overflow-x: hidden;

  /* height: 100vh; */
  background-color: #f8f7f5;
  /* padding: 20px; */
}

@media screen and (max-width: 450px) {
  .App {
    /* padding: 10px 10px; */
    width: 100vw;
  }
}
