/* UserInfo component styles */
.userInfo {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
  /* margin-bottom: 20px; */
  width: 100%;
  text-align: left;
  padding: 30px 20px;
  /* background-color: #f0f0f0; */
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px;
}
.formGroup {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.input:focus {
  outline: none;
  border: 1px solid #000;
}
.input:hover {
  border: 1px solid #000;
}
.label {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: left;
  color: #777;
}
.input {
  background-color: #f0f0f0;
  font-size: 1rem;
}
.subTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
}

.submitBtn {
  background-color: #000;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: fit-content;
  border-radius: 10px;
}
